
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

body {
    margin: 0px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/background.png");
    background-repeat: repeat; 
}

#canvas {
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgb(225, 250, 179);
    border: 6px solid orange;
}

#start-container {
    width: 1300px;
    height: 650px;
    border: 6px solid orange;
    background-image: url("../img/start.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#start-buttom {
    display: relative;
    margin-top: 500px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
    color: white;
    background-color: orange;
    font-size: 30px;
    border-radius: 20px;
    font-family: 'Baloo Thambi', cursive;
}
